#logoAP{
    padding-left: 5%;
    width: 100px;
}

svg{
    color: white;
}
button>svg{
    color: #b47474;
}
.sv-tipo2{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 0.7em;
}
.sv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    padding-right: 5%;
}
ul{
    margin-bottom: 0;
}