<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " id="contFoto">
    <img src="../../../assets/fotoPerfil.png" class="img-fluid mx-auto" id="fotoDePerfil">
</div>
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 ">
    <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
    <h3>Full Stack Developer Jr.</h3>
<div class="row">
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
    <h1>Acerca de Mí</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit qui aut quidem corrupti ducimus, porro, adipisci nihil, non quae consectetur odio id doloribus a voluptas numquam eos cupiditate quaerat error!</p>
</div>
</div>
</div>
</div>