
div{
    background-color: #a3af9c;
}
/*Nombre*/
#nombreCompleto{
    font-weight: bold;
    margin-top: 25px;
}
/*Foto de Perfil*/

@media(min-width:576px){
    #contFoto{
        position: relative;
        height: 200px;
    }
    #fotoDePerfil{
        width: 90%;
        position: absolute;
        border-radius: 100%;
        box-shadow: 3px 3px 10px #49562a ;
        top: -100px;
    }
}
@media(max-width:575px){
    #contFoto{
        position: relative;
        height: 50px;
    }
    #fotoDePerfil{
        width: 20%;
        position: absolute;
        border-radius: 100%;
        box-shadow: 3px 3px 10px #49562a ;
        top: -200%;
        left: 40%;
    }
}

.botones{
    display: flex;
    justify-content: flex-end;}