<div id="backgound" class="row container-fluid">
    <div class="" id="caja">
        <div class="">
            <h3 class="h3">Iniciar sesión para editar el portfolio</h3>
        </div>
        <div>
            <form  #f="ngForm" id="form" action="" class="" (ngSubmit)="onLogin()">
                <div class="row">
                    <div class="form-group col-auto mx-auto p-2">
                        <label for="nombreUsuario" class="form-label sv-tipo1">Nombre de Usuario (Email)</label>
                        <input type="email" name="nombreUsuario" id="nombreUsuario" placeholder="@"
                            class="form-control sv-tipo2"  [(ngModel)]="nombreUsuario" required >
                    </div>
                    <div class="form-group col-auto mx-auto p-2">
                        <label for="password" class="form-label sv-tipo1">Contraseña</label>
                        <input type="password" name="password" id="password"
                            placeholder="De 8 a 20 caracteres" class="form-control sv-tipo2"
                            [(ngModel)]="password" required>
                    </div>
                </div>
                <div class="form-group m-3">
                        <button type="submit" class="btn btn-outline-dark sv-tipo1">Enviar</button>
                </div>
                <div class="">
                    <h6><a class="linktext" href='' target="_blank" rel="noopener noreferrer" >volver al perfil</a></h6>
                    <h6><a class="linktext" href="" target="_blank" rel="noopener noreferrer">Recuperar contraseña</a></h6>
                </div>

            </form>
        </div>
    </div>
</div>