#logoAP{
    width: 150px;
}

svg{
    color: white;
}
.sv-tipo2{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 0.7em;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}