svg{
    color: white;
}
.sv-tipo2{
    padding-left: 5%;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 0.7em;
}
.sv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    padding-right: 5%;
}