<div class="row contSkills container-fluid">
    <h1>Habilidades</h1>
    <div class="col-11 card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title">Front End</h5>
            <p class="card-text">Como programadora Front End, me puedo encargar de el código orientado a la inmersión de los usuarios en el sitio.
                Al trabajar en el ámbito visual tengo conocimeintos de diseño, soy creativa y cuento con manejo de herramientas de usabilidad y experiencia de usuario que me permiten crear interfaces funcionales para cada proyecto.
            </p>
            <hr>
            <div class="row ">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="90" [radius]="90" [title]="'HTML5'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="95" [radius]="90" [title]="'CCS'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="70" [radius]="90" [title]="'JS'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="50" [radius]="90" [title]="'TS'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="75" [radius]="90" [title]="'Angular'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
            </div>
        </div>
    </div>
    <div class="col-11 card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title">Front End</h5>
            <p class="card-text">Como programadora Front End, me puedo encargar de el código orientado a la inmersión de los usuarios en el sitio.
                Al trabajar en el ámbito visual tengo conocimeintos de diseño, soy creativa y cuento son manejo de herramientas de usabilidad y experiencia de usuario que me permiten crear interfaces funcionales para cada proyecto.
            </p>
            <hr>
            <div class="row ">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="90" [radius]="90" [title]="'HTML5'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="95" [radius]="90" [title]="'CCS'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="70" [radius]="90" [title]="'JS'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="50" [radius]="90" [title]="'TS'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="75" [radius]="90" [title]="'Angular'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
            </div>
        </div>
    </div>
    <div class="col-11 card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title">Front End</h5>
            <p class="card-text">Como programadora Front End, me puedo encargar de el código orientado a la inmersión de los usuarios en el sitio.
                Al trabajar en el ámbito visual tengo conocimeintos de diseño, soy creativa y cuento son manejo de herramientas de usabilidad y experiencia de usuario que me permiten crear interfaces funcionales para cada proyecto.
            </p>
            <hr>
            <div class="row ">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="90" [radius]="90" [title]="'HTML5'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="95" [radius]="90" [title]="'CCS'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="70" [radius]="90" [title]="'JS'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="50" [radius]="90" [title]="'TS'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <circle-progress [percent]="75" [radius]="90" [title]="'Angular'" [showTitle]="true"
                        [showUnits]="false" [titleFontSize]="'2em'" [outerStrokeWidth]="16" [innerStrokeWidth]="16"
                        [space]="-16" [outerStrokeColor]="'#0a6a77'" [innerStrokeColor]="'#e1e6c6'" [animation]="true"
                        [animationDuration]="900"></circle-progress>
                </div>
            </div>
        </div>
    </div>
</div>